<a href="https://colab.research.google.com/github/HimavanthABhat/Basic-programs-in-python/blob/main/lab8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
a=int(input("Enter the radius"))
area=3.14*a*a
perimeter = 2*3.14*a
print("area is" + str(area))
print("Perimeter is" + str(perimeter))

Enter the radius6
area is113.03999999999999
Perimeter is37.68

In [8]:
a=int(input("Enter first subject marks"))
b=int(input("Enter second subject marks"))
c=int(input("Enter third subject marks"))
d=int(input("Enter fourth subject marks"))
e=int(input("Enter fifth subject marks"))
avg=(a+b+c+d+e)/5
print("Average Marks of 5 Subject is",avg)

Enter first subject marks100
Enter second subject marks100
Enter third subject marks100
Enter fourth subject marks100
Enter fifth subject marks100
Average Marks of 5 Subject is 9.803921568627452

In [11]:
print("Enter the Sides")
a=int(input())
b=int(input())
c=int(input())
s=(a+b+c)/2
area = (s*(s-a)*(s-b)*(s-c))*0.5
if a+b>=c:
  print("It is Triangle")
  print("Area of triangle is",area)
else:
  print("It is NOT an triangle")

Enter the Sides
1
1
1
It is Triangle
Area of triangle is 0.09375

In [12]:
h1=float(input("Enter the height in feet"))
h2=float(input("Enter the height in inches"))
h=((h2*12)+h1)*2.54
print("Height in cms is",h)

Enter the height in feet5
Enter the height in inches6
Height in cms is 195.58

In [15]:
num=input("Enter the Numbers")
sum=0

for i in num:
  print(i)
  sum=sum+int(i)
print("sum is",sum)

Enter the Numbers2356
2
3
5
6
sum is 16

In [18]:
units=int(input("Enter the Numbers of units of camera sold in a month"))
avg=int(input("Enter the average pieces of camera "))
sale=avg*units
basic=25000
bonus=200*units
commission=(sale)*12/100
salary=basic+bonus+commission
print("Salary is ",salary)

Enter the Numbers of units of camera sold in a month5
Enter the average pieces of camera 100
Salary is  26060.0

In [19]:
a=input("Enter String of 4 character")
for i in a:
  print(i.upper())
  print(ord(i))
print(i)

Enter String of 4 characteraaAc
A
97
A
97
A
65
C
99
c

In [24]:
list=[]                   
for i in range(100,201): 
    i=str(i)            
    sum=0                 
    for j in i:          
        j=int(j)         
        sum=sum+j         
    if sum%2==0:          
        list.append(i)   
print('Interger of even sum is',list)

Interger of even sum is ['101', '103', '105', '107', '109', '110', '112', '114', '116', '118', '121', '123', '125', '127', '129', '130', '132', '134', '136', '138', '141', '143', '145', '147', '149', '150', '152', '154', '156', '158', '161', '163', '165', '167', '169', '170', '172', '174', '176', '178', '181', '183', '185', '187', '189', '190', '192', '194', '196', '198', '200']

In [30]:


nterms = int(input("Enter the numbers "))

n1, n2 = 0, 1
count = 0

if nterms <= 0:
   print("Please enter a positive integer")
elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1)
else:
   print("Fibonacci sequence:")
   while count < nterms:
       print(n1)
       nth = n1 + n2
       n1 = n2
       n2 = nth
       count += 1

Enter the numbers 5
Fibonacci sequence:
0
1
1
2
3

In [32]:
import cmath

a = int(input())
b = int(input())
c = int(input())

d = (b**2) - (4*a*c)

sol1 = (-b-cmath.sqrt(d))/(2*a)
sol2 = (-b+cmath.sqrt(d))/(2*a)

print('The solution are {0} and {1}'.format(sol1,sol2))

2
3
2
The solution are (-0.75-0.6614378277661477j) and (-0.75+0.6614378277661477j)